@import "@fontsource-variable/fira-code";
@import '@fontsource-variable/inter';
@import '@tailwindcss';

.prose {
  @apply text-sm leading-6;

  h1 {
    @apply uppercase mt-0 text-2xl font-semibold text-zinc-700 mb-4;
  }

  h2 {
    @apply text-xl uppercase mb-2;
  }

  h3 {
    @apply uppercase leading-5 mb-4 border-b text-zinc-500 border-zinc-200 text-right pr-1;
  }

  p,
  ul,
  ol,
  table,
  pre,
  dl {
    @apply mb-4;
  }

  a {
    @apply text-zinc-600 hover:text-zinc-900 no-underline;
  }

  blockquote {
    @apply border-l border-zinc-200 px-4 italic my-4;

    &.note {
      @apply border-blue-500 bg-blue-50 text-blue-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.abstract {
      @apply border-cyan-500 bg-cyan-50 text-cyan-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.info {
      @apply border-blue-500 bg-blue-50 text-blue-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.todo {
      @apply border-blue-500 bg-blue-50 text-blue-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.tip {
      @apply border-green-500 bg-green-50 text-green-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.success {
      @apply border-green-500 bg-green-50 text-green-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.question {
      @apply border-orange-500 bg-orange-50 text-orange-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.warning {
      @apply border-orange-500 bg-orange-50 text-orange-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.failure {
      @apply border-red-500 bg-red-50 text-red-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.danger {
      @apply border-red-500 bg-red-50 text-red-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.bug {
      @apply border-red-500 bg-red-50 text-red-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.example {
      @apply border-indigo-500 bg-indigo-50 text-indigo-500 py-1;

      p {
        @apply my-1;
      }
    }

    &.quote {
      @apply border-zinc-500 bg-zinc-50 text-zinc-500 py-1;

      p {
        @apply my-1;
      }
    }
  }

  hr {
    @apply border-0 bg-zinc-200 h-px mb-4;
  }

  strong {
    @apply font-bold text-zinc-800;
  }

  img {
    @apply max-w-full;
  }

  code,
  pre {
    @apply font-mono;
  }

  pre {
    @apply border border-zinc-100 bg-zinc-50/50 rounded-md py-4 px-6 overflow-x-auto;
  }

  table {
    @apply w-full border-collapse text-sm font-light;
  }

  th,
  td {
    @apply py-1.5 px-2.5 text-left;
  }

  th[align="right"],
  td[align="right"] {
    @apply text-right;
  }

  th[align="center"],
  td[align="center"] {
    @apply text-center;
  }

  th:not(:empty),
  tr:not(:last-of-type) td {
    @apply border-b border-zinc-200;
  }

  dt,
  th {
    @apply font-bold;
  }

  ul {
    @apply ps-4 list-disc
  }

  ol {
    @apply list-none ps-0;
  }

  ol:first-of-type {
    counter-reset: item;
  }

  ol li {
    p {
      @apply inline;
    }

    counter-increment: item;
  }

  ol li:before {
    @apply font-mono text-zinc-500/50;
    content: counter(item, decimal-leading-zero) " ";
  }

  ul:has(li>input[type="checkbox"]) {
    @apply border border-zinc-100 bg-zinc-50/50 rounded-md py-4 px-6 inline-block list-none w-auto;
  }

  ul:has(li>input[type="checkbox"]) li input {
    @apply mr-2 relative top-px;
  }
}

/* -------------------------------------------------------------------------- */
